/* GLOBAL */

html,
.bg-base {
    background-color: #f4f3f0;
    color: #003342 !important;
}

.bg-primary {
    background-color: #003342 !important;
    color: #f4f3f0 !important;
}

.bg-secondary {
    background-color: #9bbab5 !important;
}

/* HEADER */

nav {
    background-color: transparent;
}

.offcanvas,
.dropdown-menu {
    background-color: #f4f3f0;
}

.offcanvas-title,
.nav-link,
.nav-item,
.navbar-nav .nav-link.dropdown-toggle:not(.show),
.navbar .btn:hover,
.navbar .btn:focus,
.hero-btn,
.navbar .btn,
.navbar-toggler {
    color: #003342 !important;
    background-color: #f4f3f0 !important;
}

.navbar .btn {
    height: 42px;
}

.navbar .btn,
.navbar-toggler,
.hero-btn {
    border: 2px solid transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.dropdown-toggle.show,
.navbar-nav .nav-link.dropdown-toggle:not(.show):hover,
.navbar-nav .nav-link.dropdown-toggle:focus,
.dropdown-item:hover,
.dropdown-item:focus,
.navbar .btn:hover,
.navbar .btn:focus,
.hero-btn:hover,
.hero-btn:focus {
    background-color: #003342 !important;
    color: #f4f3f0 !important;
}

.dropdown-item {
    transition: background-color 0.15s ease, color 0.15s ease;
}

.navbar .btn:hover,
.navbar .btn:focus,
.navbar-toggler:hover,
.navbar-toggler:focus,
.hero-btn:hover,
.hero-btn:focus {
    border: #f4f3f0 2px solid !important;
    box-shadow: none !important;
    outline: none !important;
}

.navbar-toggler,
.navbar-toggler:hover {
    border: none;
    box-shadow: none;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.navbar-toggler:focus .navbar-toggler-icon,
.navbar-toggler:hover .navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(244, 243, 240, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 51, 66, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .dropdown-menu {
    position: static !important;
    float: none;
    width: auto;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    display: block;
    pointer-events: none;
}

.navbar-nav .dropdown-menu.show {
    max-height: 1000px;
    opacity: 1;
    transform: scaleY(1);
    pointer-events: auto;
}


/* HERO */

.hero {
    position: relative;
    background-image: url(../images/1920x1080-webp/04\ -\ Ryans\ Waterblasting\ Photos_1920px.webp);
    background-size: cover;
    background-position: 15% 15%;
    background-repeat: no-repeat;
    height: 100vh;
    color: #f4f3f0;
}

.hero .overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 0;
}

.hero .hero-content {
    z-index: 1;
    position: relative;
}

.hero-content h1,
.hero-content p,
.hero-content .d-grid,
.hero-content span {
    opacity: 0;
    transform: translateX(-100vw);
    position: relative;
}

.hero-content span {
    display: inline-block;
    animation: slideInLeft 1s ease-out forwards;
    animation-delay: 0.1s;
}

.hero-content h1 {
    animation: slideInLeft 1s ease-out forwards;
    animation-delay: 0.3s;
}

.hero-content p {
    animation: slideInLeft 1s ease-out forwards;
    animation-delay: 0.5s;
}

.hero-content .d-grid {
    animation: slideInLeft 1s ease-out forwards;
    animation-delay: 0.7s;
}

.scroll-indicator {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50vw);
    z-index: 2;
    animation: bounce 2s infinite;
    color: #f4f3f0;
    text-align: center;
}

/* ABOUT US */

/* RESULTS */

/* BEFORE AND AFTER */

.b-a-container {
    place-content: center;
    --position: 50%;
}

.image-before {
    inset: 0;
    clip-path: inset(0 calc(100% - var(--position)) 0 0);
}

.image-before,
.image-after {
    object-fit: cover;
    object-position: left;
}

.b-a-slider {
    inset: 0;
    cursor: pointer;
}

.b-a-slider:focus-visible ~ .b-a-slider-button {
    outline: 4px solid #003342;
    outline-offset: 3px;
}

.b-a-slider-line {
    inset: 0;
    width: 0.2rem;
    background-color: #f4f3f0;
    z-index: 10;
    left: var(--position);
    transform: translate(-50%);
    pointer-events: none;
}

.b-a-slider-button {
    background-color: #f4f3f0;
    border-radius: 100vw;
    place-items: center;
    top: 50%;
    left: var(--position);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 100;
}

/* PAGE DIVIDERS */

.waves-top {
    background-image: url(../images/svg/layered-waves-haikei-top.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 8em;
}

.waves-bottom {
    background-image: url(../images/svg/layered-waves-haikei-bottom.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 8em;
}



/* BREAKPOINTS */

/* HORIZONTAL PHONES */

@media only screen and (min-width: 36em) {
    .waves-bottom,
    .waves-top {
        height: 10em;
    }
}

/* TABLETS */

@media only screen and (min-width: 48em) {
    .waves-bottom,
    .waves-top {
        height: 15em;
    }
}

/* DESKTOP */

@media only screen and (min-width: 62em) {
    .waves-bottom,
    .waves-top {
        height: 18em;
    }
}

@media only screen and (min-width: 75em) {
    .waves-bottom,
    .waves-top {
        height: 21em;
    }
}

@media only screen and (min-width: 90em) {
    .waves-bottom,
    .waves-top {
        height: 27em;
    }
}

@media only screen and (min-width: 120em) {
    .waves-bottom,
    .waves-top {
        height: 38em;
    }
}

@media only screen and (min-width: 160em) {
    .waves-bottom,
    .waves-top {
        height: 40em;
    }
}

/* ANIMATIONS */

.animate-on-scroll {
    opacity: 0;
    will-change: opacity, transform;
}

.slide-in-left.start-animation {
    animation: slideInLeft 0.8s ease-out forwards;
}

.slide-in-right.start-animation {
    animation: slideInRight 0.8s ease-out forwards;
}

.slide-in-up.start-animation {
    animation: slideInUp 1s ease-out forwards;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100vw);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100vw);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(100vw);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(10px);
    }
}